body {
    font: 16px 'Comfortaa', cursive;
    background-color: #2e2e2e;
    color: #C6A9A9;
    min-width: 315px;
}
h1, h2 {
    color: #E4BA92;
    margin: 0;
    margin-bottom: 25px;
    text-align: left;
    font-weight: 500;
    line-height: 1.3em;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 28px;
    margin-top: 35px;
}
p {
    line-height: 1.3em;
}
p.light-text {
    display: inline;
}
ul {
    margin: 0;
}
dl dt {
    font-weight: 700;
}
ol li {
    margin: 10px;
}
select {
    color: black;
    align-items: flex-end;
}
header {
    width: 100%;
}
.pure-menu-heading {
    padding: 2.3em 5.6em;
}
.logo {
    background: url('../img/logo/100-logo.png') no-repeat center;
    background-size: 50px;
}
.pure-form select {
    padding: 0.2em 0.6em 0.3em;
}
.text-muted {
    color: #5A5A5AFF;
}
.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}
.pure-g [class *="pure-u"] {
    font-family: inherit;
}
.pure-g {
    letter-spacing: 0;
    font-family: inherit;
}
.l-box {
    padding: 0.5em 1em;
}
a,
.pure-menu-link {
    color: #bee;
    text-decoration: none;
}
a:hover {
    color: #BBF5F5;
    text-decoration: underline;
}
a.pure-button {
    padding: .5em 0em;
}
aside a:hover,
a.pure-button:hover {
    text-decoration: none;
    color: #F1F5C4;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.light-text {
    color: white;
}
p.light-text {
    display: inline;
}
.app-left-days-menu ul>li>a.active-pill, .nav-stacked>li>a.active-pill {
    background-color: rgba(54, 70, 82, 1);
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: auto;
}
.pure-table caption {
    color: inherit;
    font: inherit;
    padding: 0;
}
@media(max-width: 1062px) {
    aside.pure-u-1 {
        display: none;
    }
    section.pure-u-md-17-24 {
        width: 100%;
    }
    table.moon-events-table {
        width: 70%;
    }
}
@media(max-width: 690px) {
    .hidden-sm {
        display: none;
    }
    table.moon-events-table {
        width: 100%;
    }
}
table.moon-events-table {
    margin-bottom: 23px;
}
.moon-events-table.pure-table td,
.moon-events-table.pure-table th {
    padding: 0px 0.5em;
}
.pure-table ul {
    margin: 0.5em 0;
}
.panel {
    background: rgba(32, 32, 32, 0.5);
    margin-bottom: 23px;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-heading {
    padding: 10px 15px;
    background: rgba(22,22,22,0.5);
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.panel-body {
    padding: 14px;
}
.app-left-days-menu ul {
    margin: 0 auto;
    text-align: center;
}
.nav {
    padding-left: 0;
    list-style: none;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 12px 11px 8px 11px;
}
.nav>li>a:hover {
    background: #000;
    background: rgba(0,0,0,0.5);
}
.nav-pills>li>a {
    border-radius: 5px;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #428bca;
}
.app-left-days-menu ul>li {
    float: none;
    display: inline-block;
    zoom: 1;
}
.app-left-days-menu ul>li>a {
    margin: 3px 0px;
    background: #333;
    background: rgba(51,51,51,0.5);
    min-width: 19px;
}
.nav-stacked>li {
    margin: 2px;
}
.nav-stacked>li>a {
    background: #333;
    background: rgba(51,51,51,0.5);
}
blockquote small:before {
    content: '\2014 \00A0';
}
blockquote {
padding: 11.5px 23px;
margin: 0 0 23px;
border-left: 5px solid #161616;
}
blockquote small {
    display: block;
    color: #D2ADAD; /*#999*/
}

.pager {
    padding-left: 0;
    margin: 23px 0;
    list-style: none;
    text-align: center
}

.pager:before,.pager:after {
    content: " ";
    display: table
}

.pager:after {
    clear: both
}

.pager:before,.pager:after {
    content: " ";
    display: table
}

.pager:after {
    clear: both
}

.pager li {
    display: inline
}

.pager li>a {
    display: inline-block;
    padding: 5px 14px;
    background-color: transparent;
    border: 1px solid #cff;
    border-radius: 15px
}

.pager li>a:hover,.pager li>a:focus {
    text-decoration: none;
    background-color: #000;
    color: #C6A9A9;
}

.pager .next>a {
    float: right
}

.pager .previous>a {
    float: left
}

.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus {
    color: #999;
    background-color: transparent;
    cursor: not-allowed
}



.moon_img {
    float: left;
    margin-right: 15px;
}

.pure-table thead {
    background: transparent;
    color: inherit;
    text-align: center;
    vertical-align: bottom;
    border-bottom: 2px solid white;
}
.pure-table td, .pure-table th {
    padding: 0.5em 0.5em;
}
.pure-table-odd,  .pure-table-odd td,
.pure-table-striped tr:nth-child(2n-1) td,
.pure-table-striped tbody tr:nth-child(2n-1) th {
    background: #111;
    background: rgba(17,17,17,0.5);
}
.pure-table-striped {
    border: 1px solid transparent;
}
.pure-table-horizontal tbody tr:last-child th {
    border-bottom: none;
}
tbody .c1,
tbody .c2,
tbody .c3,
tbody .c4,
tbody .c5,
tbody .c6 {
    text-align: center;
}
.c1 {
    color: #f00;
}
.c2 {
    color: #900;
}
.c3 {
    color: #fff;
}
.c4 {
    color: #090;
}
.c5 {
    color: #0f0;
}
table.month-calendar th {
    border-bottom: 1px solid white;
}
.pure-button a {
    text-decoration: none;
}
.city-select {
    margin: 10px 0px;
    display: inline-block;
}
.day-birth {
    width: 62px;
}
.month-birth {
    width: 128px;
}
.year-birth {
    width: 82px;
}
select.city-birth,
.button-birth {
    width: 282px;
}
.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #31618E;
}
.form-birth.pure-form-aligned .pure-controls {
    margin: 1.5em 0 0 11.3em;
}
@media(max-width: 480px){
    .form-birth.pure-form-aligned .pure-controls {
        margin: 1.5em 0 0;
    }
}
.pure-u-md-7-24 {
    width: 28.16%;
}

/* ------------------------------------------
  Responsive Horizontal-to-Vertical Menu
--------------------------------------------- */
.navbar-wrapper {
    background-color: rgba(0,0,0,0.156862745098);
    -webkit-font-smoothing: antialiased;
    height: 44px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    border-radius: 2px;
}

.navbar-wrapper.open {
    height: 338px;
    width: 100%;
}

.navbar-menu-3 {
    text-align: right;
}

.navbar-toggle {
    width: 66px;
    height: 66px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.navbar-toggle .bar {
    background-color: #777;
    display: block;
    width: 35px;
    height: 5px;
    border-radius: 100px;
    position: absolute;
    top: 40px;
    right: 15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.pure-menu-link:hover {
    background-color: black;
    text-decoration: none;
}
.pure-menu-active>.pure-menu-link, .pure-menu-link:focus {
    background-color: #31618E;
}
.pure-menu-link {
    padding: 12px 14px;
}
.pure-menu-horizontal .pure-menu-item, .pure-menu-horizontal .pure-menu-heading, .pure-menu-horizontal .pure-menu-separator {
    display: block;
    float: left;
}

.navbar-toggle .bar:first-child {
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    transform: translateY(-12px);
}

.navbar-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 1024px) {

    .navbar-menu-3 {
        text-align: left;
        border-top: 1px solid rgba(0, 0, 0, 0.41);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-toggle {
        display: block;
    }

    .pure-menu-list {
        margin: 5px 0;
    }

    .pure-menu-link {
        padding: .5em 1em;
    }

    .pure-menu-horizontal .pure-menu-list {
        display: none;
    }

    .navbar-wrapper {
        margin-top: 0;
        height: 75px;
        overflow: hidden;
    }
}
@media (min-width: 1024px) {
    .pure-u-lg-7-8 {
        /* fix for firefox */
        width: 87%;
    }
}
