body
    font 16px Didact Gothic, Droid Serif, Georgia, sans-serif
    background-color #2e2e2e
    line-height 1.48
    color #c6c6a9

h1
h2
    color: #cc9;
    margin-bottom 25px
    text-align left
    font-weight 500
    line-height 1.1

h1
    font-size 35px

p
    line-height 1.5em



.content
    margin-left auto
    margin-right auto
    padding-left 1em
    padding-right 1em
    max-width 900px

.pure-g [class *="pure-u"]
    font-family Didact Gothic, Droid Serif, Georgia, sans-serif


.l-box
    padding 0.5em 1em


a
    color #bee
    text-decoration none
    &:hover
        color #D7FFFF
        text-decoration underline

.text-center
    text-align center

.text-left
    text-align left
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table {
    width: 100%;
    margin-bottom: 23px;
}
.pure-table caption {
    color: inherit;
    font: inherit;
    padding: 0;
}
.pure-table td, .pure-table th {
    padding: 0px .5em;
}
.pure-table ul {
    margin: .5em 0;
}
